
@import '../base-vars';
@import '../base-maps';
@import '../mixins/';
/* @import '../reset/'; */

@each $val in $overflow {
  .overflow-#{$val} {
    overflow: $val;
    @if ($val == hidden) {
      isolation: isolate;
    }
  }
}

@each $bp, $px in $breakpoints {
  @include respond-to(#{$px}) {
    @each $val in $overflow {
      .overflow-#{$bp}-#{$val} {
        overflow: $val !important;
        @if ($val == hidden) {
          isolation: isolate;
        }
      }
    }
  }
}

@each $val in $overflow {
  .overflow-x-#{$val} {
    overflow-x: $val;
    @if ($val == hidden) {
      isolation: isolate;
    }
  }
}

@each $bp, $px in $breakpoints {
  @include respond-to(#{$px}) {
    @each $val in $overflow {
      .overflow-x-#{$bp}-#{$val} {
        overflow-x: $val !important;
        @if ($val == hidden) {
          isolation: isolate;
        }
      }
    }
  }
}

@each $val in $overflow {
  .overflow-y-#{$val} {
    overflow-y: $val;
    @if ($val == hidden) {
      isolation: isolate;
    }
  }
}

@each $bp, $px in $breakpoints {
  @include respond-to(#{$px}) {
    @each $val in $overflow {
      .overflow-y-#{$bp}-#{$val} {
        overflow-y: $val !important;
        @if ($val == hidden) {
          isolation: isolate;
        }
      }
    }
  }
}
