// **************************************************
// ******************** container *******************
// **************************************************

$container-width: 1320px;
$container-width-large: 1520px;
$container-padding-small: $space-md;
$container-padding-large: $space-xl;
