// **************************************************
// ***************** Positioning ********************
// **************************************************

$positions: (relative, absolute, fixed, static, sticky, unset);

$position-placements: (top, bottom, left, right);

$position-values: (
  0: 0,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  n25: -25%,
  n50: -50%,
  n75: -75%,
  n100: -100%
);
