// **************************************************
// ************* Width & Height *********************
// **************************************************

$width--height-percentages: (
  25: 25%,
  33: 33%,
  50: 50%,
  66: 66%,
  75: 75%,
  100: 100%
);

$height-vh: (
  25: 25vh,
  33: 33vh,
  50: 50vh,
  66: 66vh,
  75: 75vh,
  100: 100vh
);

$width-vw: (
  25: 25vw,
  33: 33vw,
  50: 50vw,
  66: 66vw,
  75: 75vw,
  100: 100vw
);
