// **************************************************
// ***************** SETTINGS ***********************
// **************************************************
// These settings allow the user to toggle on, off, or between settings

// Headers container margin on top by default, set be $base-text-margin-top
$headers-with-margin-top: false;

// toggle on or off if headers should lose their margin top and bottom when flex aligned
$headers-remove-margin-when-aligned: true;

// Nav links have underline on hover
$nav-link-underline: true;

// True = links inherit text color | false = links ingerit $link-color
$links-have-text-color: false;

// Set Tertiary buttons to have udnerline on hover
$btn-tertiary-has-underline: true;

// Set any button without a border to be capitalzed
$btn-none-border-text-is-caps: true;

// Set border radius of btn's as pill or not
$btn-is-pill: false;
