$prefix: bounce-loader;
$num-of-lines: 12;
$animation-length: 2s;
$line-width: 20px;
$wrapper-width: 400px;

.#{$prefix}__wrapper {
  --#{$prefix}-loader-color: var(--white);
  --#{$prefix}-number-of-lines: #{$num-of-lines};
  --#{$prefix}-line-length: #{$line-length};
  --#{$prefix}-line-width: #{$line-width};
  --#{$prefix}-animation-length: #{$animation-length};
  --#{$prefix}-wrapper-width: #{$wrapper-width};
  --#{$prefix}-ease: cubic-bezier(1, -0.6, 0.75, 1.03);

  position: relative;
  width: var(--#{$prefix}-wrapper-width);
  height: calc(var(--#{$prefix}-wrapper-width));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.#{$prefix}__line {
  $color-slice: calc(360 / $num-of-lines);

  width: $line-width;
  height: 75%;
  background-color: var(--#{$prefix}-loader-color);
  position: relative;

  &.alt-bounce {
    --#{$prefix}-ease: cubic-bezier(0.44, 0.12, 0.22, 1.06);
  }

  &:nth-child(odd) {
    animation: bounce-up var(--#{$prefix}-animation-length)
      var(--#{$prefix}-ease) 0s infinite normal forwards;
    transform: translateY(12.5%);
  }
  &:nth-child(even) {
    animation: bounce-down var(--#{$prefix}-animation-length)
      var(--#{$prefix}-ease) 0s infinite normal forwards;
    transform: translateY(12.5%);
  }
  @for $i from 1 through $num-of-lines {
    $zero-start: $i - 1;
    $offset: $zero-start - 1;
    $delay: calc(($offset * ($animation-length / $num-of-lines)));
    $color-piece: $color-slice * $zero-start;

    &:nth-child(#{$i}) {
      animation-delay: $delay;
    }

    &--color {
      &:nth-child(#{$i}) {
        background-color: hsl($color-piece, 100%, 50%);
      }
    }
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(12.5%);
  }
  50% {
    transform: translateY(-12.5%);
  }

  100% {
    transform: translateY(12.5%);
  }
}

@keyframes bounce-down {
  0% {
    transform: translateY(-12.5%);
  }

  50% {
    transform: translateY(12.5%);
  }

  100% {
    transform: translateY(-12.5%);
  }
}
