a {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: var(--text-color);
}

.link {
  --line-height: 1px;
  --line-width: 100%;
  --link-font-weight: var(--base-font-weight, 400);

  // Settings from src/variables/_settings.scss
  @if $links-have-text-color {
    --link-color: var(--text-color);
  } @else {
    --link-color: #{$link-color};
  }

  --border-color: var(--link-color);
  --opacity: 1;

  position: relative;
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 2px solid var(--border-color);
  cursor: pointer;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    --text-color: var(--text-color);
  }

  &--hover {
    border-bottom: none;
    background-image: linear-gradient(
      transparent calc(100% - 2px),
      currentColor 2px
    );
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    position: relative;
    transition: background-size 0.3s ease-in-out;

    &:hover {
      background-position-x: left;
      background-size: 100% 100%;
    }
  }

  &--no-underline {
    --border-color: #{$transparent};
  }

  &.disabled,
  &[disabeld] {
    pointer-events: none;
    opacity: 0.5;
  }
}
