$prefix: circle-line-loader;
$num-of-lines: 100;
$animation-length: 750ms;
$line-length: 30px;

.#{$prefix}__wrapper {
  --#{$prefix}-loader-color: var(--white);
  --#{$prefix}-number-of-lines: #{$num-of-lines};
  --#{$prefix}-line-length: #{$line-length};
  --#{$prefix}-animation-length: #{$animation-length};
  position: relative;
  width: calc(4 * var(--#{$prefix}-line-length));
  height: calc(4 * var(--#{$prefix}-line-length));
}

.#{$prefix}__line {
  width: 2px;
  height: var(--#{$prefix}-line-length);
  background-color: var(--#{$prefix}-loader-color, --#{$prefix}-text-color);
  position: absolute;
  transform-origin: center calc(var(--#{$prefix}-line-length) * -1);
  left: 50%;
  top: 50%;
  opacity: 0;

  @for $i from 1 through $num-of-lines {
    $offset: $i - 1;
    $delay: calc(($offset * ($animation-length / $num-of-lines)));

    &:nth-child(#{$i}) {
      transform: translate(-50%, var(--#{$prefix}-line-length))
        rotate(calc($i * (360deg / var(--#{$prefix}-number-of-lines))));
      animation: show
        var(--#{$prefix}-animation-length)
        linear
        $delay
        infinite
        normal
        forwards;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
