$prefix: rainbow-loader;
$num-of-lines: 50;
$animation-length: 2s;
$line-length: 30px;

.#{$prefix}__wrapper {
  --#{$prefix}-loader-color: var(--white);
  --#{$prefix}-number-of-lines: #{$num-of-lines};
  --#{$prefix}-line-length: #{$line-length};
  --#{$prefix}-animation-length: #{$animation-length};
  --#{$prefix}-color-scale: 50%;

  position: relative;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

.#{$prefix}__line {
  $slice: calc(100 / $num-of-lines);
  $color-slice: calc(360 / $num-of-lines);

  width: $slice * 1%;
  height: 100%;
  position: absolute;
  left: 0;

  @for $i from 1 through $num-of-lines {
    $zero-start: $i - 1;
    $pos: $slice * $zero-start;
    $color-piece: $color-slice * $zero-start;
    $offset: $zero-start - 1;
    $delay: calc(($offset * ($animation-length / $num-of-lines)));

    &:nth-child(#{$i}) {
      left: $pos * 1%;
      background-color: hsl($color-piece, 100%, 50%);
      animation: fade
        var(--#{$prefix}-animation-length)
        linear
        $delay
        infinite
        normal
        forwards;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
    filter: hue-rotate(0deg);
  }
  to {
    opacity: 0.8;
    filter: hue-rotate(180deg);
  }
}
