:root {
  --container-width: #{$container-width};
  --container-width-large: #{$container-width-large};
  --container-padding: #{$container-padding-small};

  @include lg-size() {
    --container-padding: #{$container-padding-large};
  }
}

.container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: var(--container-width);
}

.container-large {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: var(--container-width-large);
}

.escape-container {
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
}

// @each $key, $val in $container-max-widths {
//   .container-#{$key} {
//     margin: 0 auto;
//     padding-left: var(--container-padding);
//     padding-right: var(--container-padding);
//     width: 100%;
//   }

//   @each $bp, $px in $breakpoints {
//     .container-#{$key} {
//     }
//   }
// }

// @each $bp, $px in $breakpoints {
//   @include respond-to(#{$px}) {
//     @each $keyWidth, $val in $container-max-widths {
//       .container-#{$keyWidth} {
//         max-width: calc($px - (var(--container-padding) * 2));
//       }
//     }
//   }
// }
