@each $key, $val in $aspect-ratios {
  .aspect-ratio-#{$key} {
    --aspect-ratio: #{$val};
    aspect-ratio: var(--aspect-ratio);
  }
}

@each $key, $val in $object-positions {
  .object-position-#{$key} {
    --object-position: #{$val};
    object-position: var(--object-position);
  }
}

.img-wrapper {
  width: 100%;
  aspect-ratio: var(--aspect-ratio, 4 / 3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--object-position, 50% 50%);
    @include transition((filter, transform));

    // &:hover {
    //   filter: brightness(1.25);
    //   transform: scale(1.01);
    // }
  }

  &--rounded {
    @include border-rounded($border-radius);
  }
  &--rounded-pill {
    @include border-rounded($border-radius-pill);
  }
  &--rounded-circle {
    @include border-rounded($border-radius-circle);
  }
}
