@import '../../../src/functions/';
@import '../../../src/variables/';

$base-font-size: 18;
$font-increase-on-xl: false;
// $color-classes-with-tones: false;
// $is-mobile-first: false;
$border-radius: 2px;

@import '../../../src/maps/';
@import '../../../src/mixins/';
@import '../../../src/reset/';
@import '../../../src/base/';
@import '../../../src/utils/';
@import '../../../src/components/';
