.special-links:hover {
  transition: all 200ms ease-in-out;
  color: black;
  background-color: white;
  cursor: pointer;
}
.special-links:active {
  transition: all 200ms ease-in-out;
  color: black;
  background-color: rgb(102, 102, 238);
  cursor: pointer;
}

code > * {
  font-size: 16px;
  line-height: 28px;
}
